<div class="columns is-multiline" style="margin-top:-0em">

    <div class="column is-8 is-offset-2 register">
        <div class="columns">
            <div class="column left">
                <h1 class="title is-1">Créer son Espace</h1>
                <h2 class="subtitle is-info is-4">Un cadre de travail Idéal.</h2>
                <%= image_tag "sign_up.png" %>
            </div>
            <div class="column is-4 right has-text-centered">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email', class:'input is-medium' %>
                </div>

                <div class="field">
                    
                    <%= f.password_field :password, autocomplete: "new-password", placeholder:'Password', class:'input is-medium' %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                </div>

                <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'Confirmation Password', class:'input is-medium' %>
                </div>

                <div class="actions">
                    <%= f.submit "Valider", class: 'button is-block is-info is-fullwidth is-medium' %>
                </div>
                <% end %>

                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
    <div class="column is-8 is-offset-2">
        <br>
        <nav class="level">
            <div class="level-left">

            </div>
            <div class="level-right">
                <small class="level-item" style="color: var(--textLight)">
                    &copy; Super Cool Website. All Rights Reserved.
                </small>
            </div>
        </nav>
    </div>
</div>