<div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
        <div class="columns">
            <div class="column left">
                <h1 class="title is-1">Super Cool Website</h1>
                <h2 class="subtitle colored is-4">Lorem ipsum dolor sit amet.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora libero excepturi vero soluta odio optio sed.</p>
            </div>
            <div class="column right has-text-centered">
                <h1 class="title is-4">Sign up today</h1>
                <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                </div>

                <% if devise_mapping.rememberable? %>
                <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
                <% end %>

                <div class="actions">
                    <%= f.submit "Log in" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="column is-8 is-offset-2">
        <br>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="icon">
                        <i class="fab fa-twitter"></i>
                    </span> &emsp;
                    <span class="icon">
                        <i class="fab fa-facebook"></i>
                    </span> &emsp;
                    <span class="icon">
                        <i class="fab fa-instagram"></i>
                    </span> &emsp;
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span> &emsp;
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <small class="level-item" style="color: var(--textLight)">
                    &copy; Super Cool Website. All Rights Reserved.
                </small>
            </div>
        </nav>
    </div>
</div>